header.header-login
    nav#nav
        .container
            a.header-bell(href="#") 
                <span class="material-icons">add_alert</span>
            
            a.header-list(href="#")
                <span class="material-icons">view_list</span> 

            a.header-lang(href="#")
                <span class="material-icons">language</span>
                i |
                p $ USD
            
            a.header-balance(href="#")
                .header-balance-text 
                    span Balance
                    p $ 0.12
                <span class="material-icons">library_add</span>
            
            a.header-user
                img(src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png", alt="")