header
    nav#nav
        .container
            #nav_left
                #menuToggle
                    span.first_span
                    span.second_span
                    span.third-span
                .telephone-menu
                    ul

                        li
                            a#home-list(href="/") Home

                        li
                            a(href="/") Bots

                        li
                            a(href="/faq") Faq
                .close-image
                    img.hidden-close(src="images/close.png" alt="close image")
                .flexer
                    #logo
                        a(href="/")
                            img(src="images/logo.png" alt="logo")
            #nav_right
                .flexer
                    ul#menu

                        li.menu-item
                            a(href="/")
                                | home
                        li.menu-item
                            a(href="/")
                                | bots
                        li.menu-item
                            a(href="/faq")
                                | faq
                    #profile

                        button#log_btn.btn-orange(onclick="window.location.href = 'https://dota2money.ru/?login';")
                            | log in via steam



