header.header-login
    nav#nav
        .container
            .flexer
                #logo
                    a(href="/")
                        img(src="images/logo.png", alt="") 
            a.header-bell(href="#") 
                <span class="material-icons">add_alert</span>
            .header-list-wrapper
                a.header-list(href="#")
                    <span class="material-icons">view_list</span>
                .header-login-menu
                    ul
                        li
                            a#home-list(href="/") Home
                        li
                            a(href="/") Bots
                        li
                            a(href="/faq") Faq

            a.header-lang(href="#")
                <span class="material-icons">language</span>
                i |
                p $ USD
            
            a.header-balance(href="#")
                .header-balance-text 
                    span Balance
                    p $ 0.12
                <span class="material-icons">library_add</span>
            
            a.header-user
                img(src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png", alt="")


.verification 
    .verification-overlay
    form.verification-form 
        .verification-close х
        h2.verification-title Please verify your email for the free discounts
        input(type="email", placeholder="EMAIL")
        button VERIFY