#waiting_for_a_bot.modal.yii(style="display: none;")
    .modal_window
        .close.modaler
            button.btn
                span.fa.fa-close
        .modalTitle
            .title
                | waiting for a bot
            .description
                | your trade request is being proccessed
        .modalContent
            ul.list
                li.listItem
                    .icon
                        span.fa.fa-check-circle-o
                    .text
                        | get offer
                li.listItem
                    .icon
                        span.fa.fa-check-circle-o
                    .text
                        | validate offer
                li.listItem
                    .icon
                        span.fa.fa-check-circle-o
                    .text
                        | send offer
                li.listItem
                    .icon
                        span.fa.fa-check-circle-o
                    .text
                        | mobile confirmation
            .message
                | your trade offer is ready
            .footer
                .flexer
                    button.btn-purple
                        | confirm in browser
                    button.btn-orange
                        | confirm in steam
#bots_list.modal.yii(style="display:none;")
    .modal_window
        .close.modaler
            button.btn
                span.fa.fa-close
        .modalTitle
            .title
                | bots list
            .description
                | send us your own offer. we will check it automatically
        .modalContent
            table
                thead
                    tr
                        th number
                        th bot name
                        th profile
                        th trade link
                tbody
                    tr
                        td #1
                        td bot #1
                        td
                            button.btn-purple
                                | view bot profile
                        td
                            button.btn-orange
                                | get a trade link
                    tr
                        td #2
                        td bot #2
                        td
                            button.btn-purple
                                | view bot profile
                        td
                            button.btn-orange
                                | get a trade link
                    tr
                        td #3
                        td bot #3
                        td
                            button.btn-purple
                                | view bot profile
                        td
                            button.btn-orange
                                | get a trade link
                    tr
                        td #4
                        td bot #4
                        td
                            button.btn-purple
                                | view bot profile
                        td
                            button.btn-orange
                                | get a trade link

#dragTooltip 
    h3
    p
    p